<footer>
      <p>
        Proyecto construido por <a href="https://github.com/Tomii741" target="_blank" rel="noopener noreferrer">Tomas Lopez</a>, <a href="https://github.com/juanma-hinojosa" target="_blank" rel="noopener noreferrer">Juan Hinojosa</a>, <a href="https://github.com/JoacoEv18" target="_blank" rel="noopener noreferrer">Joaquin Vega</a>
      </p>
      {{!-- <img src="/images/footer/logo.svg" alt=""> --}}
</footer>